%tr
  - attribs.each do |attrib|
    %td
      - value = result.send(attrib.to_sym)
      - if value.is_a?(String) && value.starts_with?('http')
        = image_tag value
      - else
        = value

